# Task 4.7 Deriving New Variables

# Importing Libraries

In [1]:
# Importing libraries
import pandas as pd
import numpy as np
import os

# Importing Data

In [2]:
# Import pkl files
path = r'/Users/melanie/Desktop/7:2022 Instacart Basket Analysis'

In [3]:
df_op_merged = pd.read_pickle(os.path.join(path, 'Data', 'Prepared Data', 'orders_products_merged.pkl'))

In [4]:
df_op_merged.head()

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0_y,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_previous_order,add_to_cart_order,reordered,_merge
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,3139998,138,28,6,11,3.0,5,0,both
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1977647,138,30,6,17,20.0,1,1,both
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,389851,709,2,0,21,6.0,20,0,both
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,652770,764,1,3,13,NaN,10,0,both
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,1813452,764,3,4,17,9.0,11,1,both

In [5]:
# Defining price_label column 
def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range product'
  else: return np.nan

In [6]:
# Creating a subset
df = df_op_merged[:1000000]

In [7]:
df.shape

(1000000, 16)

In [8]:
# Defining price_label with if statements and loc function

df_op_merged['price_range'] = df.apply(price_label, axis=1)

In [9]:
df_op_merged['price_range'].value_counts(dropna = False)

NaN                   31433030
Mid-range product       659418
Low-range product       331238
High range product        9344
Name: price_range, dtype: int64

In [10]:
df_op_merged.loc[df_op_merged['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [11]:
df_op_merged.loc[(df_op_merged['prices'] <= 15) & (df_op_merged['prices'] > 5), ' price_range_loc'] = 'Mid-range product'

In [12]:
df_op_merged.loc[df_op_merged['prices'] <= 5, 'price_range_loc'] = 'low range product'

In [13]:
df_op_merged['price_range_loc'].value_counts(dropna = False)

NaN                   21889009
low range product     10126339
High-range product      417682
Name: price_range_loc, dtype: int64

In [14]:
# Defining orders_day_of_week as "busiest days" and "slowest days" using if statments and for-loops
df_op_merged['orders_day_of_week'].value_counts(dropna = False)

0    6209410
1    5665604
6    4500101
2    4217610
5    4209334
3    3843929
4    3787042
Name: orders_day_of_week, dtype: int64

In [15]:
result = []

for value in df_op_merged["orders_day_of_week"]:
  if value <= 1:
    result.append("Busiest days")
  elif value >= 3:
    result.append("Shortest days")
  else:
    result.append("Regularly busy")

In [16]:
df_op_merged['busiest_days'] = result

In [17]:
df_op_merged['busiest_days'].value_counts(dropna = False)

Shortest days     16340406
Busiest days      11875014
Regularly busy     4217610
Name: busiest_days, dtype: int64

In [19]:
# Defining order_hour_of_week as busiest_period_of_day with "most orders," "average orders," and "fewest orders"
df_op_merged['order_hour_of_day'].value_counts(dropna = False)

10    2764288
11    2738483
14    2691448
15    2664420
13    2663169
12    2620719
16    2537358
9     2456591
17    2089385
8     1719888
18    1637858
19    1259335
20     976991
7      891900
21     796341
22     634715
23     402593
6      290763
0      218925
1      115780
5       88054
2       69429
4       53280
3       51317
Name: order_hour_of_day, dtype: int64

In [20]:
result2 = []

for value in df_op_merged["order_hour_of_day"]:
  if value >= 9 and value <= 16:
    result2.append("Most orders")
  elif value >= 0 and value <=6:
    result2.append("Fewest orders")
  else:
    result2.append("Average orders")

In [21]:
df_op_merged['busiest_period_of_day'] = result2

In [22]:
df_op_merged['busiest_period_of_day'].value_counts(dropna = False)

Most orders       21136476
Average orders    10409006
Fewest orders       887548
Name: busiest_period_of_day, dtype: int64

In [23]:
df_op_merged.to_pickle(os.path.join(path, 'Data','Prepared Data', 'orders_products_renamed2.pkl'))